// add font-face or font import declarations here
<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <style>
      body {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
      }
    </style>
  </head>
  <body>
    <div>Making the Web Beautiful!</div>
  </body>
</html>
